 /* style for container */
.container {
       padding: 120px 200px; 
  }
 /*  style for footer glyphicon  */
  footer .glyphicon {
    font-size: 22px;
    margin-bottom: 2px;
    color: #6EB7FF;
}
/*  style for footer */
 footer {
      background-color: #2d2d30;
      color: #f5f5f5;
      padding: 15px;
  }
  footer a {
      color: #f5f5f5;
  }
  footer a:hover {
      color: #777;
      text-decoration: none;
  } 