<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>TwitterClone</display-name>
	<servlet>
		<description>
		</description>
		<display-name>LoginServlet</display-name>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>com.servlet.LoginServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>InsertServlet</display-name>
		<servlet-name>InsertServlet</servlet-name>
		<servlet-class>com.servlet.InsertServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>SearchServlet</display-name>
		<servlet-name>SearchServlet</servlet-name>
		<servlet-class>com.servlet.SearchServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>TweetServlet</display-name>
		<servlet-name>TweetServlet</servlet-name>
		<servlet-class>com.servlet.TweetServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>TweetDisplay</display-name>
		<servlet-name>TweetDisplay</servlet-name>
		<servlet-class>com.servlet.TweetDisplay</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ProfileServlet</display-name>
		<servlet-name>ProfileServlet</servlet-name>
		<servlet-class>com.servlet.ProfileServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>FollowServlet</display-name>
		<servlet-name>FollowServlet</servlet-name>
		<servlet-class>com.servlet.FollowServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Profile_Admin_Servlet</display-name>
		<servlet-name>Profile_Admin_Servlet</servlet-name>
		<servlet-class>com.servlet.Profile_Admin_Servlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>DeleteServlet</display-name>
		<servlet-name>DeleteServlet</servlet-name>
		<servlet-class>com.servlet.DeleteServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ModifyServlet</display-name>
		<servlet-name>ModifyServlet</servlet-name>
		<servlet-class>com.servlet.ModifyServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Follow</display-name>
		<servlet-name>Follow</servlet-name>
		<servlet-class>com.servlet.Follow</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Unfollow</display-name>
		<servlet-name>Unfollow</servlet-name>
		<servlet-class>com.servlet.Unfollow</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Intermediateservlet</display-name>
		<servlet-name>Intermediateservlet</servlet-name>
		<servlet-class>com.servlet.Intermediateservlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>EditTweetServlet</display-name>
		<servlet-name>EditTweetServlet</servlet-name>
		<servlet-class>com.servlet.EditTweetServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>DeleteTweetServlet</display-name>
		<servlet-name>DeleteTweetServlet</servlet-name>
		<servlet-class>com.servlet.DeleteTweetServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ForgetUsernameServlet</display-name>
		<servlet-name>ForgetUsernameServlet</servlet-name>
		<servlet-class>com.servlet.ForgetUsernameServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ForgetPasswordServlet</display-name>
		<servlet-name>ForgetPasswordServlet</servlet-name>
		<servlet-class>com.servlet.ForgetPasswordServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>PasswordResetServlet</display-name>
		<servlet-name>PasswordResetServlet</servlet-name>
		<servlet-class>com.servlet.PasswordResetServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>UserIDCheckServlet</display-name>
		<servlet-name>UserIDCheckServlet</servlet-name>
		<servlet-class>com.servlet.UserIDCheckServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/LoginServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>InsertServlet</servlet-name>
		<url-pattern>/InsertServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SearchServlet</servlet-name>
		<url-pattern>/SearchServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TweetServlet</servlet-name>
		<url-pattern>/TweetServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TweetDisplay</servlet-name>
		<url-pattern>/TweetDisplay</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ProfileServlet</servlet-name>
		<url-pattern>/ProfileServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FollowServlet</servlet-name>
		<url-pattern>/FollowServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Profile_Admin_Servlet</servlet-name>
		<url-pattern>/Profile_Admin_Servlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeleteServlet</servlet-name>
		<url-pattern>/DeleteServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ModifyServlet</servlet-name>
		<url-pattern>/ModifyServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Follow</servlet-name>
		<url-pattern>/Follow</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Unfollow</servlet-name>
		<url-pattern>/Unfollow</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Intermediateservlet</servlet-name>
		<url-pattern>/Intermediateservlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EditTweetServlet</servlet-name>
		<url-pattern>/EditTweetServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeleteTweetServlet</servlet-name>
		<url-pattern>/DeleteTweetServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ForgetUsernameServlet</servlet-name>
		<url-pattern>/ForgetUsernameServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ForgetPasswordServlet</servlet-name>
		<url-pattern>/ForgetPasswordServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PasswordResetServlet</servlet-name>
		<url-pattern>/PasswordResetServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UserIDCheckServlet</servlet-name>
		<url-pattern>/UserIDCheckServlet</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>FrontPg.jsp</welcome-file>
	</welcome-file-list>
</web-app>
